<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<nav>
    <a href = {% url "inicio" %} >inicio</a>
    <a href = {% url "crear_vino" %} >crear vino</a>
    <a href = {% url "listado_de_vinos" %} >listado de vinos</a>
    <a href="{% url 'sobre_mi' %}">Sobre mí</a>
</nav>
    <h1>Detalle del vino</h1>

<p>Marca: {{ object.marca }}</p>
<p>Año: {{ object.año }}</p>
<p>ID: {{ object.id }}</p>
<p>cantidad: {{ object.cantidad }}</p>

<a href="{% url 'listado_de_vinos' %}">Volver al listado</a>




</body>
</html>