<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<nav>
    <a href = {% url "inicio" %} >inicio</a>
    <a href = {% url "crear_auto" %} >crear auto</a>
    <a href = {% url "listado_de_autos" %} >listado de autos</a>
</nav>
    <h1>Listado Deautos</h1>
    {%if autos %}
        <ul>
            {% for auto in autos %}
            <li>{{auto}}</li>

            {% endfor %}
        </ul>
        {% else %}
           <p>no hay datos</p>
    {%endif%}

</body>
</html>